*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
}

.inter {
  font-family: "Inter", sans-serif;
  
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo{
    margin: 16px  120px;
}
.nav .menu ul{
    display: flex;
    gap: 24px;
    list-style:none ;
}
.nav .menu ul a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;

}
 .btn{
    background-color: #30b868;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    margin-right: 120px;
    border: none;
}

